- if flash[:notice]
  = flash[:notice]
= simple_form_for @ffmpeg, html:{ multipart: true } do |f|
  - if @ffmpeg.errors.any?
    =#errors
      %p
        = @ffmpeg.errors.count
        preventing from saving
      %ul
        - @ffmpeg.errors.full_messages.each do |msg|
        %li= msg
  %div.panel-body
    = f.input :video, as: :file, input_html: { accept: "video/*", required:true } 
  = f.button :submit, "Convert", class: "my-button"
